{{! add new restaurant page }}
<h1 class="mb-1 restaurant-show-title">Add new restaurant</h1>
<div class="row">
  <div class="col-10 col-sm-6 mx-auto">
    <form
      action="/restaurants"
      id="new-form"
      class="needs-validation fw-bolder"
      method="POST"
      novalidate
    >
      <div class="mb-3">
        <i class="fa-solid fa-shop me-2"></i>
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          value="{{restaurant.name}}"
          required
        />
        <div class="valid-feedback">
        </div>
        <div class="invalid-feedback">
          This field is required !
        </div>
      </div>
      <div class="mb-3">
        <i class="fa-solid fa-shop me-2"></i>
        <label for="name_en" class="form-label">English Name</label>
        <input
          type="text"
          class="form-control"
          id="name_en"
          name="name_en"
          value="{{restaurant.name_en}}"
          required
        />
        <div class="valid-feedback">
        </div>
        <div class="invalid-feedback">
          This field is required !
        </div>
      </div>
      <div class="mb-3">
        <i class="fa-solid fa-tag me-2"></i>
        <label for="category" class="form-label">Category</label>
        <input
          list="category-list"
          class="form-control"
          id="category"
          name="category"
          placeholder="Select or add a new category!"
          value="{{restaurant.category}}"
          required
        />
        <datalist id="category-list">
          {{#each categories}}
            <option value="{{this}}"></option>
          {{/each}}
        </datalist>
        <div class="valid-feedback">
        </div>
        <div class="invalid-feedback">
          This field is required !
        </div>
      </div>
      <div class="mb-3">
        <i class="fa-solid fa-image me-2"></i>
        <label for="image" class="form-label">Image URL</label>
        <input
          type="text"
          class="form-control"
          id="image"
          name="image"
          placeholder="http://..."
          value="{{restaurant.image}}"
        />
        <div class="valid-feedback">
        </div>
        <div class="invalid-feedback">
          This field is invalid !
        </div>
      </div>
      <div class="mb-3">
        <i class="fa-solid fa-location-dot me-2"></i>
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="location"
          placeholder="Address of restaurant"
          value="{{restaurant.location}}"
          required
        />
        <div class="valid-feedback">
        </div>
        <div class="invalid-feedback">
          This field is required !
        </div>
      </div>
      <div class="mb-3">
        <i class="fa-solid fa-phone me-2"></i>
        <label for="phone" class="form-label">Tel:</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          placeholder="XX XXXX XXXX"
          value="{{restaurant.phone}}"
          required
        />
        <div class="valid-feedback">
        </div>
        <div class="invalid-feedback">
          This field is required !
        </div>
      </div>
      <div class="mb-3">
        <i class="fa-brands fa-google me-2"></i>
        <label for="google_map" class="form-label">Google Maps Link</label>
        <input
          type="text"
          class="form-control"
          id="google_map"
          name="google_map"
          placeholder="http://..."
          value="{{restaurant.google_map}}"
          required
        />
        <div class="valid-feedback">
        </div>
        <div class="invalid-feedback">
          This field is required !
        </div>
      </div>
      <div class="mb-3">
        <i class="fa-solid fa-star me-2"></i>
        <label for="rating" class="form-label">Rating</label>
        <input
          type="number"
          class="form-control"
          id="rating"
          name="rating"
          placeholder=" Rating is between 0 ~ 5.0"
          max="5.0"
          min="0"
          step="0.1"
          value="{{restaurant.rating}}"
          required
        />
        <div class="valid-feedback">
        </div>
        <div class="invalid-feedback">
          This rating is invalid !
        </div>
      </div>
      <div class="mb-3">
        <i class="fa-solid fa-circle-exclamation me-2"></i>
        <label for="description" class="form-label">Description</label>
        <textarea
          name="description"
          class="form-control"
          id="description"
          cols="30"
          rows="10"
          placeholder="About this restaurant..."
          required
        >{{restaurant.description}}</textarea>
        <div class="valid-feedback">
        </div>
        <div class="invalid-feedback">
          This field is required !
        </div>
      </div>
      {{! error message alert -start }}
      {{#if errMessage}}
        <div class="alert alert-light" role="alert">
          {{{errMessage}}}
        </div>
      {{/if}}
      {{! error message alert -end }}
      <button
        type="submit"
        class="btn btn-primary"
        id="submitButton"
      >Add</button>
      <a href="/restaurants" class="ms-3 btn btn-success"><i
          class="fa-solid fa-reply"
        ></i>
        Home</a>
    </form>

  </div>
</div>